<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="text-center mt-5">
        <h1>로그인 페이지</h1>
    </div>
    <div class="row justify-content-center" style="margin-top: 20px">
        <div class="col-12 text-center mb-3">
            <a href="https://kauth.kakao.com/oauth/authorize?client_id=c4f3065ad9aee32ee75770fffd67d694&redirect_uri=http://localhost:8080/index&response_type=code">
                <img src="/images/kakao_login.png" style="width: 100px; height: auto; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
            </a>
        </div>
        <div class="col-12 text-center">
            <a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=GAXhZuC_2gN1thw8fw6X&redirect_uri=https://localhost:8080/oauth/naver&state=hLiDdL2uhPtsftcU">
                <img src="/images/btn_naver_login.png" style="width: 100px; height: auto; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
            </a>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
